/* Main Window */

#main-window,
#main-window:-moz-lwtheme-brighttext,
#main-window:-moz-lwtheme-darktext {
  background: var(--bf-main-window) !important;
  -moz-appearance: var(--bf-moz-appearance) !important;
  appearance: none !important;
}

/* Remove default browser backgrounds */
#browser {
  background: transparent !important;
}

#appcontent {
  background: transparent !important;
}
